<table class="table table-hover">
  <thead>
    <th>Objet</th>
    <th>Titre</th>
    <th>Propriétaire</th>
    <th>Date</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let emp of list">
      <td (click)="onEdit(emp)">{{emp.name}}</td>
      <td (click)="onEdit(emp)">{{emp.title}}</td>
      <td (click)="onEdit(emp)">{{emp.owner}}</td>
      <td (click)="onEdit(emp)">{{emp.date | date: 'dd/MM/yyyy' }}</td>
      <td><a class="btn text-danger" (click)="onDelete(emp.id)"><i class="fa fa-trash"></i></a></td>
    </tr>
  </tbody>
</table>